{% extends 'cadastro_servico_base.html' %}
{% block content %}

<form action="{% url 'bussola:cadastro_servico' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
                    <div class="row control-group" style="padding-bottom: 3%; margin-left: 0.25%;">
                       
                            {{ formCadastroServico.nomeServico }}
                            {{ formCadastroServico.nomeServico.errors }}
                        
                    </div>
                    <div class="row control-group">
                        <div id="origem" class="col-lg-10">    
                            <div class="col-lg-7">
                                
                                Tipo Contato: {{ formContato.tipo }}
                                {{ formContato.tipo.errors }}                        
                
                                <br>
                            </div>
                            <div class="col-lg-5" style="margin-left: -25%;">
                            
                                   {{ formContato.descricaoContato }}
                                   {{ formContato.descricaoContato.errors }} 
                                   <br>
                            
                            </div>
                        </div> 
                    </div>  
                    <br>
                    <div class="row"></div>
                    <div class="row control-group" style="padding-top: 3%;">
                        <div class="col-lg-8">
      
                            Categoria: {{ formCadastroServico.categoria }}
                            {{ formCadastroServico.categoria.errors }}       
                            <p class="help-block text-danger"></p>
                         
                        </div>  
                    </div>
                    <div class="row control-group" style="padding-top: 3%; margin-left: 0.25%;">
                       
                            {{ formCadastroServico.informacoesServico }}
                            {{ formCadastroServico.informacoesServico.errors }}
                        
                    </div> 
                    <br>
                    <div class="row">
                        Cadastre seu endereço ou o endereço do seu Estabelecimento (Se houver):
                        <br>
                            {{ formEndereco.cidade }}
                            {{ formEndereco.cidade.errors }}
                        <br>
                            {{ formBairro.bairro }}
                            {{ formBairro.bairro.errors }}  
                        <br>
                            {{ formRua.rua }}
                            {{ formRua.rua.errors }}    
                        <br>
                            {{ formEndereco.numero }}
                            {{ formEndereco.numero.errors }}                    

                    </div>
                    <div class="row control-group" style="padding-top: 3%; margin-left: 0.25%;">
                    
                            {{ formCadastroServico.informacoesPreco }}
                            {{ formCadastroServico.informacoesPreco.errors }}
                    
                    </div>

                    <div class="row" style="padding-top: 3%;">
                        <div class="form-group col-xs-12">
                         
                        <p style="font-size: 14px">
                            Adicione uma Imagem:
                        </p>
                            {{ formImagem.as_p }}
                            {{ formImagem.as_p.errors }}
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
                        </div>
                    </div>
                </form>

{% endblock %}